/*Estilos para Expedientes*/

.promotion-container {
    border: 1px solid #ddd;
    padding: 10px;
    max-height: 300px; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
}