/*Estilos para Expedientes*/

.promotion_container {
    border: 1px solid #ddd;
    padding: 10px;
    max-height: 350px; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
}

.files_container{
    border: 1px solid #ddd;
    padding: 10px;
    max-height: 350px; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
}

.observations_container {
    border: 1px solid #ddd;
    padding: 10px;
    max-height: 170px; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
}